<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand fw-bold" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
                </li>
                {% if site.header_pages %}
                {% for link in site.header_pages %}
                {% assign page_url = link %}
                {% assign page_title = link | replace: '.md', '' | replace: '.html', '' | replace: 'blog/index', 'Blog'
                | capitalize %}

                <!-- Handle special labeling and URL paths -->
                {% if page_url contains 'blog' %}
                {% assign page_title = 'Blog' %}
                {% assign page_url = 'blog/' %}
                {% elsif page_url contains 'about' %}
                {% assign page_title = 'About' %}
                {% assign page_url = 'about/' %}
                {% elsif page_url contains 'services' %}
                {% assign page_title = 'Services' %}
                {% assign page_url = 'services/' %}
                {% elsif page_url contains 'products' %}
                {% assign page_title = 'Products' %}
                {% assign page_url = 'products/' %}
                {% elsif page_url contains 'portfolio' %}
                {% assign page_title = 'Portfolio' %}
                {% assign page_url = 'portfolio/' %}
                {% elsif page_url contains 'contact' %}
                {% assign page_title = 'Contact' %}
                {% assign page_url = 'contact/' %}
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/{{ page_url | replace: 'index.html', '' }}">{{
                        page_title }}</a>
                </li>
                {% endfor %}
                {% else %}
                {% for page in site.pages %}
                {% if page.title and page.hide != true %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>